.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 14% 75% 10%;
    grid-template-areas: 
    "menuLat cabecera"
    "menuLat principal"
    "pie principal";
}
button{
    background-color: rgba(27, 14, 214, 0.976);
    color: white;
}
.cabecera {
    grid-area: cabecera;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100px;
    border: 1px solid black;
    background-color: rgba(27, 14, 214, 0.976);
}
.cabecera select{
    width: 100%;
    height: 30px;
}
.cabecera img{
    border-radius: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5%;
}
.card_img{
    background-image: url("../img/car_electric.jpg");
    width: 200px;
    height: 200px;
   background-size: cover;
   background-position: center;
}
.card_img2{
    background-image: url("../img/car_electric.jpg");
    width: 200px;
    height: 200px;
   background-size: cover;
   background-position: center;
}
.card_img3{
    background-image: url("../img/car_electric.jpg");
    width: 200px;
    height: 200px;
   background-size: cover;
   background-position: center;
}
.card_img4{
    background-image: url("../img/car_electric.jpg");
    width: 200px;
    height: 200px;
   background-size: cover;
   background-position: center;
}
.menu_lat{  
    grid-area: menuLat;
    background-color: rgba(33, 37, 35, 0.225);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.secc_principal{
    grid-area: principal;
    background-color: rgba(33, 37, 35, 0.225);
    grid-template-columns: auto auto auto;
    padding: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    display: grid;
    overflow: auto;

}
.secc_principal img{
    width: 200px;
}
.pie_pagina{
    grid-area: pie;
    background-color: white;
    height: 80px;
    text-align: center;
}    

@media (min-width: 576px) {
    .grid-container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 14% 75% 10%;
        grid-template-areas: 
        "menuLat cabecera"
        "menuLat principal"
        "pie principal";
    }

    .cabecera {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }

    .menu_lat {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

   

    .menu_lat .menu-links {
        display: flex; 
    }

    .menu-icon {
        display: none; 
        font-size: 1.5em;
        cursor: pointer;
    }


    .secc_principal {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "menuLat"
        "cabecera"
        "principal"
        "pie";
    }

    .cabecera {
        text-align: center;
        padding: 10px;
        height: auto;
    }

    .menu_lat {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }

    .menu_lat .menu-links {
        display: none; 
    }

    .menu-icon {
        display: block; 
    }

    .menu-links p {
        display: none;
        
    }

    .secc_principal {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .card {
        width: 100%;
    }

    .card_img, .card_img2, .card_img3, .card_img4 {
        width: 100%;
        height: auto;
    }
}


